include package.json package-lock.json vite.config.mjs
recursive-include build_support *.py
include datamind/console/README.md
recursive-include datamind/console/static *.html *.css *.js
recursive-include datamind/console/dist *.html *.css *.js *.json
include datamind/console/dist/.vite/manifest.json
